.card {
    background-color: #EAE6D8;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}

.right {
    float: right;
    margin: 20px;
}

#selectedPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    font-size: 30px;
}

.startButton {
    text-align: right;
}