.center {
    display: flex;
    margin: 0px auto;
    display: inline-block;
}

.left {
    width: 100%;
    margin-right: 130px;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.headerText {
    text-align: center;
    line-height: 1.8;
    font-size: 50px;
    font-family: 'trajan-color', serif;
    color: #FFDA23;
    margin-left: 100px;
}

//Navigation buttons
.navigation:hover {
    box-shadow: 0 0px 15px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}

.navigation {
    color: #07266B;
    border-style: none;
    text-decoration: none;
    font-family:'Lato', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
}

.navigation:hover {
    text-decoration: none;
    color: #9CBCD9;
}

//Winner-header
.nav-container {
    display: flex;
    margin-bottom: 50px;
    max-width: 1100px;
    margin: 0 auto 50px;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    margin-left: 0;
}

.header-logo {
    width: 150px;
    margin-left: 0;
}

//@media
@media (max-width: 768px) {
    .header-logo {
        width: 80px;
    }

    .selected-player {
        text-align: center;
    }

    .headerText {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    .header-logo {
        width: 40px;
    }

    .headerText {
        font-size: 16px;
    }

    .card {
        width: 100%;
    }

    .start-again {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .headerText {
        font-size: 30px;;
        margin-left: 0;
    }
    
}

