.winner {
    text-align: center;
    line-height: 1.8;
    font-size: 50px;
    font-family: trajan-color, serif;
    color: #FFDA23;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    font-size: 25px;
    color: #9CBCD9;
    font-size: 40px;
    font-family: 'trajan-color', serif;
}

.won-the-game {
    color: #9CBCD9;
    max-width: 1100px;
    margin: 0 auto;
    height: 80vh;
    text-align: center;
}

.winner-text {
    background: rgba(0,0,0,0.5);
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    font-size: 20px;
    font-family: 'trajan-color', serif;
}