.winner {
    text-align: center;
    line-height: 1.8;
    font-size: 50px;
    font-family: trajan-color, serif;
    color: #FFDA23;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    font-size: 25px;
    color: #9CBCD9;
    font-size: 40px;
    font-family: trajan-color, serif;
}